/* .App{
    display: flex;
    flex-direction: column;
} */
.weather-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.weather-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
